       *{
            margin: 0;
            padding: 0;
        }
        body{
            background-color:rgba(74, 4, 139, 0.966);
        }
        .big-div{
            align-items: center;
            display: flex;
            height: 99vh;
            justify-content: center;
        }
        .first-div{ 
            position: relative;
            overflow: hidden;
            border-radius: 50px 0 0 50px; 
            height: 80%;
            background-color: black;
            width: 40%;
            padding-top: 4%;
        }
        .second-div{
            box-shadow: 30px 20px 20px white;
            background-color: rgba(89, 9, 165, 0.979);
            width: 40%;
            height: 80%;
            padding: 0 4% ;
        }
        .second-div{
            padding-top: 4%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
        .some-words{
            margin-bottom: 3%;
        }
        h2{
            font-size: 80px;
            font-family: cursive;
        }
        p{
            font-size: 30px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
        input{
            background-color: black;
            font-size: 20px;
            color: blueviolet;
            margin-bottom: 4%;
            width: 64%;
            padding: 4%;
            border-radius: 40px;
            border-color: transparent;
        }
        input::placeholder{
            color: blueviolet;
        }
        h1{
            font-size: 40px;
            font-family: cursive;
            margin-bottom: 6%;
        }
        button{
            display: inline-block;
            cursor: pointer;
            padding: 4%;
            font-size: 20px;
            font-family: cursive;
            background-color: black;
            color: white;
            border-radius: 50px;
            border-color: transparent;
        }
        button:hover{
            background-color: white;
            color: black;
            transition-duration: 1.2s;
        }
        @media (max-width:750px) {
            .second-div{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                box-shadow: 10px 10px 10px white;
            }
            h2{
                font-size: 40px;
                font-weight:bold;
                margin-bottom: 20px;
            }
            input{
                width: 80%;
            }
            button{
                margin-top: 10px;
            }
        }